@import url('https://fonts.googleapis.com/css?family=Convergence|Roboto&display=swap');
* {
    overflow-x: hidden !important;
}
.bg{
    background: url("Images/blueish.jpg") no-repeat center fixed;
    background-size: cover;
}

.bg2{
    background: url("Images/dark.jpg") no-repeat center fixed;
    background-size: cover;
}

.bg3{
    background: url("Images/bridge.jpg") no-repeat center fixed;
    background-size: cover;
}

.bg4{
    background: url("Images/backgroundHomepage.jpg") no-repeat center fixed;
    background-size: cover;
}

.untuk-message{
    background: #495054;
    mix-blend-mode: multiply;
    opacity: 0.7;

    color: #E3E8EA;
}

.one{
    font-family: 'Arial', sans-serif;
    font-style: bold;
    font-weight: bold;
    font-size: 15px;

    color: #E3E8EA;
}

.two{
    background: #495054;
}

.three{
    background-color: #495054;
}

.four{
    background-color: #495054;
}

.my-profile-photo{
    height: 850px;
    padding-bottom: 177px;
    padding-top: 177px;
    padding-left: 50px;
    position: relative;
}

.white-photo{
    height: 850px;
    padding-bottom: 150px;
    padding-top: 204px;
    padding-left: 20px;
    position: absolute;
}


h1{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 90px;
    padding-top: 250px;
    align-items: center;
    text-align: center;

    color: #E3E8EA;
}

h2{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 10px;
    align-items: left;
    text-align: left;

    color: #E3E8EA;
}

h3{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    padding-top: 204px;
    padding-left: 0px;
    align-items: center;
    text-align: center;

    color: #495054;
}

h5{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 10px;
    align-items: left;
    text-align: left;

    color: #E3E8EA;
}

h6{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 10px;
    align-items: left;
    text-align: left;

    color: #495054;
}

h7{
    font-family: 'Convergence', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding-top: 30px;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 10px;
    align-items: left;
    text-align: left;

    color: #E3E8EA;
}

.linkedin{
    padding-left: 0px;
    position: absolute;
    height: 50px;
    background-color: #495054;
    padding-left: -10px;
}

.instagram{
    padding-left: 60px;
    position: absolute;
    height: 50px;
    background-color: #495054;
    padding-left: 10px;
}

.twitter{
    padding-left: 60px;
    position: absolute;
    height: 50px;
    background-color: #495054;
    padding-left: 0px;
}

.nav-link{
    color: #E3E8EA;
}

html {
    scroll-behavior: smooth;
}

.modal-title{
    color: #000000;
}

.modal-body{
    color: #000000;
}

.btn{
    color: #E3E8EA;
}